.contador {
    @apply flex justify-around items-center;
    @apply w-full h-8;
    @apply mx-auto;
    @apply border-2 border-blue-500 rounded-3xl;
}

.btnCount {
  @apply pb-1;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnEnabled:active {
  @apply text-blue-600 bg-gray-300;
  border-radius: 10px;
}

.btndisabled {
  color: #d6d6d6;
}

.contador-stock {
  @apply hidden;
}

@screen sm{
  .contador{
    @apply w-10/12 h-full;
    @apply mx-auto;
  }

  .contador input {
    @apply px-4;
    font-size: 24px;
    cursor: pointer;
  }
}
