.cart{
    min-height: calc(100vh - 104px);
    grid-template-rows: 60px auto;
}
.cart-title{
    @apply text-2xl font-bold;
    padding: 10px 5px;
}

.btn-empty{
    justify-self: end;
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    margin-top: 10px;
}

.checkout-container{
    max-height: 68vh;
    @apply flex flex-col justify-start;
    @apply px-container mb-2 overflow-y-auto;
}

.cart-price{
    @apply py-1 px-container mx-container;
    @apply text-lg text-right font-semibold;
}