.contador {
    @apply flex justify-around items-center;
    @apply w-10/12 h-8;
    @apply mx-auto;
    @apply border-2 border-blue-500 rounded-3xl;
}

.contador input {
  @apply pb-1;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}

.contador input:active {
  background: #ccc;
  border-radius: 10px;
}

.contador input:disabled {
  color: #b9b9b9;
}

.contador-stock {
  @apply hidden;
}

@screen sm{
  .contador{
    @apply w-52 h-10;
    @apply mx-auto;
  }

  .contador input {
    @apply px-4;
    font-size: 24px;
    cursor: pointer;
  }
}