.itemRecomendation{
    @apply grid justify-center items-center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px 15px;

    height: 100px;
    padding: 10px 15px;
    margin: 10px;

    background-color: #eee;
    box-shadow: 0px 0px 5px #ccc;
}

.item-logo{
    grid-row: span 2;
    @apply flex justify-center items-center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.item-title{
    font-weight: 500;
    text-align: center;
}

