.cart-title{
    @apply text-2xl font-bold;
    padding: 10px 5px;
}

.btn-empty{
    justify-self: end;
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    margin-top: 10px;
}

.checkout-container{
    max-height: 68vh;
    @apply flex flex-col justify-start;
    @apply px-container mb-2 overflow-y-auto;
}

.buy-keep{
    width: fit-content;
    grid-column-start: -8;
    grid-column-end: -5;
    justify-self: end;
}

.buy-btn{
    width: fit-content;
    grid-column: span 2;
}

.buy-price{
    @apply py-1 pl-5 mx-0 px-0;
    grid-column: span 2;
    @apply text-lg text-left font-semibold;
}
