.item {
    height: calc(100% - 20px);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 30px 60px 40px;
    grid-gap: 20px;
}

.item-image{
    border: 1px solid #ddd;
}

.item-data{
    @apply grid justify-center items-center;
    grid-template-columns: 2fr 1fr;
    @apply text-center tracking-wide;
}
.data-title{
    @apply text-2xl font-semibold;
}
.data-price{
    @apply text-xl font-normal ;
}

.item-desc{
    padding: 0 20px;
}

.item-buy{
    @apply flex justify-around items-center;
}

.btn-buy{
    @apply bg-blue-600 text-white rounded-3xl;
    line-height: 2em;
    width: 100px;
    cursor: pointer;
}

.btn-buy:hover, .btn-buy:active{
    @apply bg-blue-700;
} 