/* ./src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&family=Zen+Dots&display=swap');

@tailwind base;

@layer base{
    :root {
        --grid-container: repeat(4, minmax(0, 1fr));
        --spacing-container: 10px;
        --max-container: 450px;
        --reduccion-container: 5px;
        --gap-container: 10px;
    }
    h1{ @apply text-2xl font-bold; }
    h2{ @apply text-xl font-bold; }
    h3{ @apply text-lg font-bold;}
    h4{ @apply text-base font-semibold; }

    @screen sm {
        :root{
            --grid-container: repeat(6, minmax(0, 1fr));
            --spacing-container: 20px;
            --max-container: 630px;
            --reduccion-container: 10px;
            --gap-container: 15px;
        }
    }
    @screen md {
        :root{
            --grid-container: repeat(8, minmax(0, 1fr));
            --spacing-container: 30px;
            --max-container: 810px;
            --reduccion-container: 15px;
            --gap-container: 20px;
        }
    }
    @screen lg {
        :root{
            --grid-container: repeat(12, minmax(0, 1fr));
            --spacing-container: 45px;
            --max-container: 1090px;
            --reduccion-container: 20px;
            --gap-container: 30px;
        }
    }
    @screen xl {
        :root{
            --spacing-container: 60px;
            --max-container: 1400px;
            --reduccion-container: 30px;
            --gap-container: 40px;
        }
    }
}

@tailwind components;

@layer components{  
    @responsive{
        .container {
            @apply grid gap-container w-full mx-auto;
            grid-template-columns: var(--grid-container);
            grid-gap: var(--gap-container);

            padding-left: var(--spacing-container);
            padding-right: var(--spacing-container);
            min-width: calc(100vw - var(--container-padding));
            max-width: var(--max-container);
        }

        .container-sm{
            @apply grid gap-container w-full mx-auto;
            grid-template-columns: var(--grid-container);
            grid-column-gap: calc(var(--gap-container) * 1.25);
            grid-row-gap: var(--gap-container);

            padding-left: calc(var(--spacing-container) * 1.5);
            padding-right: calc(var(--spacing-container) * 1.5);
            min-width: calc(100vw - (var(--container-padding) * 1.5));
            max-width: calc(var(--max-container) - var(--reduccion-container));
        }

        .container-xs{
            @apply grid gap-container w-full mx-auto;
            grid-template-columns: var(--grid-container);
            grid-column-gap: calc(var(--gap-container) * 1.5);
            grid-row-gap: var(--gap-container);

            padding-left: calc(var(--spacing-container) * 2);
            padding-right: calc(var(--spacing-container) * 2);
            min-width: calc(100vw - (var(--container-padding) * 2));
            max-width: calc(var(--max-container) - (var(--reduccion-container) * 1.5));
        }

        .col-1 { @apply col-span-1; }
        .col-2 { @apply col-span-2; }
        .col-3 { @apply col-span-3; }
        .col-4 { @apply col-span-4; }
        .col-5 { 
            @apply col-span-4 sm:col-span-5; 
        }
        .col-6 { 
            @apply col-span-4 sm:col-span-6; 
        }
        .col-7 { 
            @apply col-span-4 sm:col-span-6 md:col-span-7; 
        }
        .col-8 { 
            @apply col-span-4 sm:col-span-6 md:col-span-8; 
        }
        .col-9 { 
            @apply col-span-4 sm:col-span-6 md:col-span-8 lg:col-span-9; 
        }
        .col-10 { 
            @apply col-span-4 sm:col-span-6 md:col-span-8 lg:col-span-10; 
        }
        .col-11 { 
            @apply col-span-4 sm:col-span-6 md:col-span-8 lg:col-span-11; 
        }
        .col-12 { 
            @apply col-span-4 sm:col-span-6 md:col-span-8 lg:col-span-12; 
        }
    }

    /* --------------------------------------------- */

    .col-full { 
        @apply col-span-4 sm:col-span-6 md:col-span-8 lg:col-span-12; 
    }
    .col-mid { 
        @apply col-span-4 sm:col-span-3 md:col-span-4 lg:col-span-6; 
    }
    .col-three { 
        @apply col-span-4 sm:col-span-3 md:col-span-4 lg:col-span-4;
    }
    .col-four { 
        @apply col-span-4 sm:col-span-3 md:col-span-4 lg:col-span-4 xl:col-span-3;
    }

    .btn {
        @apply rounded-3xl;
        padding: 5px 10px;
    }
    .btn:active, .btn:focus{
        outline: none;
    }

    .btn-close{
        @apply bg-red-600 hover:bg-red-700 active:bg-red-800 text-white;
    }

    .btn-open{
        @apply bg-green-600 hover:bg-green-700 active:bg-green-800 text-white;
    }

    .btn-submit{
        @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white;
    }

}

@tailwind utilities;

@tailwind screens;
