.detailContainer{
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
    width: 80vw;

    @apply bg-gray-50;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 20px 10px;
    @apply px-container;
}

.detailContainer h1{
    grid-column: span 12;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    border-bottom: 1px solid #ccc;
    @apply font-semibold tracking-wide;
}

.detail-exit{
    position: absolute;
    top: 15px;
    right: 90px;
    font-size: x-large;
    cursor: pointer;
    transition: all 0.2s linear;
}
.detail-exit:hover{
    transform: scale(1.2);
}