.sidebar{
    position: absolute;
    top: -100vh;
    right: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    @apply grid md:hidden;
    grid-template-rows: 50px repeat(2, auto);

    @apply bg-gradient-to-tl from-blue-500 to-blue-900;
}


.sidebar-exit {
    width: fit-content;
    margin-left: auto;
    @apply px-2 py-1;
    @apply mt-1 mr-6;
    @apply text-white text-3xl;
}

.sidebar-nav{
    height: 50vh;
    width: 100%;
    margin-bottom: 20vh;
    @apply flex flex-col justify-around items-center;
}

.sidebar-links{
    @apply text-white text-xl font-semibold;
}

.toggle-show {
    top: 0;
    transition: all 1s ease-in-out;
}

.toggle-hide{
    top: -100vh;
    transition: all 1s ease-in-out;
}

